*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.upper h3 {
    float:right;
    background-color: #fff;
    padding:15px;
    text-transform: capitalize;
    margin: 10px;
}

.header{
clear:right;
background-color: rgba(137, 43, 226, 0.096);
text-transform: capitalize;
border-bottom-left-radius: 30%;
border-bottom-right-radius: 30%;

}
.header .logo-cont{
    display: flex;
}
.header .logo i{
    background-color: black;
    color:white;
    padding:15px;
    margin:20px;
    border-radius: 20px;
    
}
.logo-intro{
    padding:15px;
    margin:20px ;
    position: absolute;
    left:80%;
    font-size:14px ;
}
.h-content{
    
    text-align: center;
    line-height: 50px;
    margin:50px 100px 0px 100px;
}
.h-content p{
    font-weight: 500;
    padding:5px;
    margin:0px 100px;
}

.images{
    margin-top: 20px;
    
    
}
.images img{
    background-color: rgba(137, 43, 226, 0.589);
    border-radius: 50%;
    padding:20px;
    position: relative;
    top:70px;
}

  .sec1-c1 {

    margin-top:100px;
    padding:30px;
    text-transform: capitalize;
    margin-left:20px;

}
.sec1-c1 p {
    margin-top: 20px;
    line-height: 25px;
}
.sec1-c1 h5{
    background-color: rgba(128, 128, 128, 0.13);
    padding:20px;
    text-align: center;
    
}
.sec1 .list ol{
    padding:20px;
    margin: 20px;
    
}
.sec1 h1{
    margin: 30px 20px 20px 50px;
    text-transform: capitalize;
}

.sec1 .list ol li{
    margin: 20px;
    padding: 10px;

    
}
.list ol li >h3{
    text-transform: capitalize;
}

.list ol li>p{
    text-transform: capitalize;
    line-height: 30px;
    
}

.list ol li a{
    text-decoration: none;
    text-transform: capitalize;
}
 .span{
    background-color:  rgba(128, 128, 128, 0.13);
    width: 250px;
    padding: 20px;
    text-align: center;
 }

 .footer{
    
    background-color: rgba(250, 235, 215, 0.445);
    padding:15px;
    text-align: center;
    
 }
 .footer .footlogo i{
    border-radius: 5px;
    padding:10px;
    font-size: 35px;;
    color: rgba(137, 43, 226, 0.589);
 }
 .footer p{
    margin-top: 15px;
    color: rgba(137, 43, 226, 0.589);
 }

 .footer .links a{
color: rgba(137, 43, 226, 0.589);
margin: 10px;

 }
 .footer .links{
    margin: 20px 0px;
 }

  .f-logo i{
    color:#fff;
    background-color: blue;
    padding:10px;
    margin:10px;
    border-radius: 50px;
 }

 @media (max-width:1155px){
    .logo-intro{
        position: absolute;
        left:75%;
        
    }
    .h-content p{ 
         margin-top: 10px;
         padding:10px;
         line-height: 40px;
         margin-left: 20px;
    }
 }

 @media(max-width:920px){
    .logo-intro{
         position: absolute;
        left:65%;
        
    }
   .images img{
    width:50%;
   }
 }

 
 @media(max-width:670px){
    .logo-intro{
         position: absolute;
        left:60%;
        
    }
 
    .h-content p{ 
        margin:10px;   
   }

   .images img{
    width:50%;
   }
 }

 @media(max-width:587px){
.logo-intro{
    position: absolute;
    left:50%;
}
.h-content p{ 
    margin-top: 10px;
    padding:5px;
    line-height: 40px;
    margin-left: 5px;
}
.h-content{
    
    text-align: center;
    line-height: 40px;
    margin:30px 60px 0px 60px;
}
 }

 @media(max-width:478px){
    .logo-intro{
        position: absolute;
        left:35%;
        margin-left:5px;

    }
    .h-content{
    
        text-align: center;
        line-height: 30px;
        margin:25px;
    }
    .h-content p{
        margin:0;
    }
    
 }

 @media (max-width:330px){
    .logo-intro{
        position: absolute;
        left: 33%;
        right:0;
    }

 }

 @media (max-width:320px){

    .logo-intro{
margin-right:0;
    }
    .sec1 .list ol{
        padding:5px;
        margin: 5px;
    }  
 }
 
